/*import font*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/*import css asset*/
@import "assets/button_text/ButtonText.css";
@import "assets/form/FormCustom.css";
@import "assets/container_2_frames/Container2Frames.css";

#root {
  --black: #242424;
  --white: #FFFFFF;
  --primary: #7D8CA3;
  --primary-light: #79A9D1;
  --primary-light-extra: #A8BED5;
  --secondary: #FF416C;
  --secondary-light: #FF4B2B;
  --black-shadow-1: 0 14px 28px rgba(0, 0, 0, 0.25);
  --black-shadow-2:0 10px 10px rgba(0, 0, 0, 0.22);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}


body {
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

